#include "src/resource.h"

IDI_MOUSECOPY ICON "assets/mousecopy.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,1,0
 PRODUCTVERSION 0,1,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"  
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "DBinK"
            VALUE "FileDescription",  "MouseCopy - GitHub: https://github.com/DBinK/MouseCopy-Windows"
            VALUE "ProductName",      "MouseCopy"
            VALUE "FileVersion",      "0.1.1"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
